#login {
    margin-top: 25%;
}

#Login, #register {
    background-color: gold;
    border-color: #e4be00;
    color: black;

}
body, html {
    background-image: url('images/background.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    height: 100%;
    display: block;
    width: 100%;
    margin: 0;
    font-family: "Lucida Console", Arial, Helvetica, sans-serif;
}

/*.bg-img {*/
    /*background-image: url('images/background.png');*/
    /*background-size: cover;*/
    /*display: block;*/
    /*filter: blur(5px);*/
    /*-webkit-filter: blur(5px);*/
    /*height: 800px;*/
    /*width:100%;*/
    /*left: 0;*/
    /*position: fixed;*/
    /*right: 0;*/
    /*z-index: 1;*/
/*}*/

#login-box {
    margin-top: 15%;
    background-color: whitesmoke;
    color: black;
    opacity: 0.75;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow:    0px 8px 20px 0px rgba(0, 0, 0, 1);
    box-shadow:         0px 8px 20px 0px rgba(0, 0, 0, 1);
}
#form-reg {
    margin-top: 2%;

}

#log {
    margin-top: 5%;
}