@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC:500');
html {
    font-family: 'Noto Sans SC', serif;

}
html, body {
    background: url("images/tableback.svg") !important;
}

.logo {
    width: 55px;
    height: 45px;
    padding-bottom: 15px;
    margin-left: 1rem;
    margin-right: .5rem;
}
#userData {
    padding: 0 !important;
}
#display {
    width: 75px;
    height: 75px;
    float:right;
}
#logout, #user {
    padding: 0;
    /*margin-right: 75px;*/
}

#nav-title {
    padding: 0;
    font-size: 20px!important;
    margin: 0 !important;;

}
#drop-down {
    margin-top: 10px;
    margin-bottom: 10px;
}

#datatable {
    padding-top: 10px!important;
}

#search {
    float:right;
    margin-right: 0px;
    box-shadow: 1px 1px 1px 1px black!important;
    font-family: 'Noto Sans SC', serif !important;
    background-color: #fbd40e !important;
    border-color: #fbbb4b!important;
    text-shadow: 1px 1px 1px black;


}
#searchButton{
    padding-right: 0px;

}

#musicTable {
    background-color: white;
    box-shadow: 1px 1px 1px 1px gray;
    font-family: 'Noto Sans SC', serif;
    opacity: .75 !important;

}
#navvy {
    background: linear-gradient(to left, #fbbb4b 0%, #fbd40e 100%);
    font-family: 'Noto Sans SC', serif;
    color: black!important;
    text-shadow: 1px 1px 1px black;
}

#tableTitle {
    font-family: 'Noto Sans SC', serif;
    color: whitesmoke;
    margin-bottom: 0px;
    padding-left: 0px;
    text-shadow: 1px 1px 1px black;


}

.pagination>li {
    display: inline;
    padding:0px !important;
    margin:0px !important;
    border:none !important;
}
.modal-backdrop {
    z-index: -1 !important;
}
/*
Fix to show in full screen demo
*/
iframe
{
    height:700px !important;
}

#myModal {
    width:100% !important;
}
#music-modal {
    position:absolute;
    bottom:0;
    margin:0;
    width:100% !important;
}
.modal-body {
    padding: 0 !important;
}
.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    width: 100% !important;
    min-width: 100%;
}

.modal .modal-dialog {
    width:100% !important;
    position:fixed;
    bottom:0;
    margin:0;

}


.progress-bar {
    height: 10px;
    width: 100%;
}
#play {
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-top:0;
    width: 100%;
}
#prog {
    padding-left: 0px !important;
}
.progress {
    height: 10px !important;
    width: 100% !important;
}

.btn {
    display: inline-block;
    padding: 6px 12px !important;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-primary {
    color: #fff !important;
    background: #428bca !important;
    border-color: #357ebd !important;
    box-shadow:none !important;
}
.btn-danger {
    color: #fff !important;
    background: #d9534f !important;
    border-color: #d9534f !important;
    box-shadow:none !important;
}

#tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

#tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

#tooltip:hover .tooltiptext {
    visibility: visible;
}